.card-novo-cadastro{
    max-width: 500px;
    min-height: 220px;
    width: 100%;
    box-shadow: 3px 6px 9px 0px #323232;
    padding: 15px 20px;
    border-radius: 4px;
    background: #fff;
    margin: 0 auto;
    .novo-cadastro-form{
        
    }
}

